<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="icon" href="./img/wrench-adjustable-circle.svg">
    <title>Dashboard | HostApp</title>
</head>
<body>
<div class="top-nav">
    <div class="container d-flex justify-content-end align-items-center">
        <div class="d-flex p-2">
            <li><a href="#" class="text-white fs-6"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#" class="text-white fs-6"><i class="bi bi-twitter ms-3"></i></a></li>
            <li><a href="#" class="text-white fs-6"><i class="bi bi-linkedin ms-3"></i></a></li>
            <li><a href="/admin" class="text-white fs-6"><i class="bi bi-person-circle ms-3"></i> Admin</a></li>
        </div>
    </div>
</div>
    
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand fs-3 fw-bold text-white" href="#"><i class="bi bi-wrench-adjustable-circle"></i> HostApp</a>
        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
    </div>
</nav>
    
<header id="header">
    <div class="container h-100">
        <div class="d-flex h-100 justify-content-center align-items-center flex-column">
            <h1 class="text-white text-center">You are Highly Welcome <i class="bi bi-person-workspace"></i></h1>
            <p class="mt-3 text-white text-center">To</p>
            <p class="text-center text-white"><a class="navbar-brand fs-3 fw-bold text-white" href="#"><i class="bi bi-wrench-adjustable-circle"></i> HostApp</a></p>
        </div>
    </div>
</header>
<div class="height" style="min-height:500px;">
<div class="container">
    <p class="text-center mt-5"><a class="navbar-brand fs-3 fw-bold" href="#" style="color:#333333;"><i class="bi bi-wrench-adjustable-circle"></i> HostApp</a></p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, exercitationem excepturi quos quaerat itaque debitis numquam officiis hic quo animi vitae cum sequi incidunt cumque possimus commodi eveniet, temporibus earum aspernatur. Labore, qui! Sed ullam eius alias omnis vitae soluta, corrupti nisi. Dolorem quas praesentium eveniet iste incidunt animi perferendis aut nisi debitis consectetur maiores est odit accusamus labore facere, molestias, optio officia reiciendis aperiam tempore dicta aliquid doloremque! Dolor, tempora? Nulla, distinctio. Quidem enim consequatur nostrum natus ducimus minima optio? Quod asperiores consequuntur totam consequatur. Non ab excepturi ex, sunt consectetur hic dolorem, voluptatum, cumque repellendus incidunt aut porro? Neque provident, explicabo expedita nihil, eveniet architecto quia perspiciatis consequuntur impedit accusantium dolore quibusdam dolores eaque. Porro aliquid iste, consequuntur magni ducimus neque velit harum quas a deleniti alias minus suscipit. Cupiditate repellendus in debitis? Numquam consequatur maiores similique eius doloremque aliquid quam odit perferendis eligendi magnam, quidem officia, labore velit illum impedit? Voluptate maxime quae quod cum vel ad porro quasi voluptatum sit. Veritatis deserunt asperiores doloribus velit. Suscipit quo consectetur minima vero maiores libero porro aliquid adipisci amet totam dolores numquam nam recusandae nihil officiis, minus, fuga inventore nesciunt facilis doloremque! Ipsam animi ducimus, impedit unde illum asperiores nisi itaque tempore illo beatae iste aperiam excepturi eum inventore magnam eligendi dolorem libero. Tenetur blanditiis debitis error nam officia explicabo, veritatis dolore? Enim repellat ad, nostrum illum eos adipisci rem quia aspernatur reprehenderit, qui odit iusto! Sapiente obcaecati corporis qui, id eos sed? Provident quas distinctio cumque dolores, amet beatae odio atque incidunt assumenda architecto, porro suscipit expedita ex commodi eligendi quis enim magni? Ullam deleniti, veritatis atque suscipit quis, sequi nisi aperiam voluptatem eos et at accusamus debitis quas? Nobis labore natus est id obcaecati quas placeat, fuga rerum explicabo aut recusandae dignissimos, officiis cumque error quo debitis in inventore iusto repudiandae similique a! Maxime asperiores quod at cum nulla laborum incidunt quia quas quo dolor in provident, debitis consequuntur quisquam laudantium libero pariatur? Veritatis excepturi ratione, iusto ipsum distinctio nam, quaerat assumenda neque autem obcaecati reprehenderit nostrum? Laudantium enim perferendis nostrum facilis quia quas eveniet explicabo, consequuntur vel sapiente soluta sint molestias ab sequi voluptatibus at officia. Soluta inventore voluptatum deserunt officia ipsa modi. Fuga doloremque magni enim perspiciatis maiores, amet dolores accusantium odio dolorem, illum atque asperiores alias natus facere nemo nam, sequi dolorum perferendis assumenda? Perferendis officiis quibusdam a aliquam neque veritatis possimus expedita cupiditate.
    </p>
</div>
</div>
<footer id="footer">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-4 p-3">
                <a class="navbar-brand fs-3 fw-bold text-white" href="#"><i class="bi bi-wrench-adjustable-circle"></i> HostApp</a>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magni accusamus, nostrum adipisci laudantium sequi, eaque deserunt maiores blanditiis temporibus quam magnam! Ut quia odio ex laboriosam nam error enim accusantiu</p>
            </div>
            <div class="col-sm-4 p-3">
                <h4 class="text-white">Quick Links</h4>
                <ul class="p-2 quick-links">
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="/" class="text-white">Blog</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="#" class="text-white">Article</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="/registration" class="text-white">Register</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="/login" class="text-white">Login</a></li>
                </ul>
            </div>
            <div class="col-sm-4 p-3">
                <h4 class="text-white">Online Marketing</h4>
                <ul class="p-2 online-marketing-links">
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="#" class="text-white">Search Engine</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="#" class="text-white">Optimization</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="#" class="text-white">Email Marketing</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="#" class="text-white">Affiliate Program</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 down-footer">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center p-3">
                <div class="text-white fs-5">Follow Us </div>
                <div class="d-flex follow-us-link">
                    <li><a href="#" class="text-white fs-5"><i class="bi bi-facebook ms-3"></i></a></li>
                    <li><a href="#" class="text-white fs-5"><i class="bi bi-twitter ms-3"></i></a></li>
                    <li><a href="#" class="text-white fs-5"><i class="bi bi-linkedin ms-3"></i></a></li>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>