<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="icon" href="./img/wrench-adjustable-circle.svg">
    <title>Article | HostApp</title>
</head>
<body>
<div class="top-nav">
    <div class="container d-flex justify-content-end align-items-center">
        <div class="d-flex p-2">
            <li><a href="#" class="text-white fs-6"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#" class="text-white fs-6"><i class="bi bi-twitter ms-3"></i></a></li>
            <li><a href="#" class="text-white fs-6"><i class="bi bi-linkedin ms-3"></i></a></li>
            <li><a href="#" class="text-white fs-6"><i class="bi bi-person-circle ms-3"></i> Admin</a></li>
        </div>
    </div>
</div>
    
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand fs-3 fw-bold text-white" href="#"><i class="bi bi-wrench-adjustable-circle"></i> HostApp</a>
        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white fw-bold" aria-current="page" href="/">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fw-bold" href="#">Article</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fw-bold" href="/registration">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fw-bold" href="/login">Login</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2 shadow-none" type="search" placeholder="Search the Blog" aria-label="Search">
              <button class="btn btn-block search-btn" type="submit"><i class="bi bi-search text-white"></i></button>
            </form>
        </div>
    </div>
</nav>
    
<header id="header">
    <div class="container h-100">
        <div class="d-flex h-100 justify-content-center align-items-center flex-column">
            <h1 class="text-white text-center">HostApp Article</h1>
            <p class="mt-3 text-white text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus vitae nesciunt consequatur eveniet magnam rerum rem odio quaerat ut, cum quia. Repellat, aliquid nesciunt delectus earum ex quia expedita, animi dicta officiis minima adipisci magnam? Reiciendis eaque aspernatur tenetur </p>
        </div>
    </div>
</header>
    
<article id="article-section">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-md-8">
                <div class="card">
                    <img src="../public/img/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span class="badge mb-2">Security</span>
                      <p class="card-text fw-bold">Almalinux 7 is now available</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi illo amet modi blanditiis consectetur distinctio hic aperiam odit ratione ut explicabo excepturi, error perferendis. Dolorem vitae magnam impedit explicabo.</p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iure adipisci et accusamus voluptates eos nostrum dolorem consectetur! Culpa pariatur temporibus quos explicabo nihil ut aperiam ratione molestiae animi totam! Laudantium doloremque aliquam, dolore nostrum qui earum animi reprehenderit, at tempore officiis soluta doloribus! Labore nihil molestiae eius quas tempore deleniti nam ipsa laboriosam voluptatum possimus reiciendis assumenda quam ipsum sit aperiam, ratione cupiditate officia quos tempora illum doloremque. Dolore, nihil ex excepturi blanditiis corporis nisi impedit vero? Dicta molestias tenetur atque ipsam quos doloribus. Dolores sapiente praesentium incidunt. Doloribus ad amet repellendus inventore laboriosam, corporis nostrum libero quasi soluta delectus consequatur mollitia veniam ipsam molestias voluptate voluptatibus veritatis sed ab repellat aliquam voluptatem, quo neque. Dicta aperiam veniam autem incidunt blanditiis esse. Iure, officiis. Saepe, dolores assumenda. Quam magnam possimus aperiam distinctio tempora vero, odit rem officia, officiis velit odio unde quibusdam. Distinctio accusamus deleniti magni incidunt modi pariatur vero aut voluptatem totam tempore deserunt quisquam, inventore laudantium ea enim porro illo veritatis, nostrum, ab sint sit. Harum officiis quidem illum quos fuga, commodi magni sed accusamus sequi veniam quas, quis suscipit corrupti quasi inventore numquam quae? Ipsam, ex beatae libero corrupti doloremque commodi dolores earum molestiae sit voluptate.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quos animi quo voluptas omnis alias aliquam aperiam earum nam placeat laudantium tenetur dolores repellendus sed cum non, vero soluta ipsam laboriosam itaque? Et, culpa dignissimos vel nemo animi doloremque sapiente at delectus eos, hic sequi magni vitae omnis? Nostrum distinctio adipisci cumque ullam, nesciunt ratione nulla laborum error ad itaque?
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-none d-md-block"></div>
            <div class="col-md-8 mt-5 leave-reply-section p-4">
                <h5 class="fw-bold">Leave a Reply</h5>
                <small>Your email address will not be published. Required fields are marked *</small>
                <form action="" class="mt-3">
                    <div class="row">
                        <div class="col-12">
                            <label for="" class="fw-bold">Comment <span class="text-danger">*</span></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="" class="fw-bold">Name <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                        </div>
                        <div class="col-12 mt-3">
                            <label for="" class="fw-bold">Email <span class="text-danger">*</span></label>
                          <input type="email" class="form-control" placeholder="Last name" aria-label="Last name">
                        </div>
                        <div class="col-12 mt-3">
                        <input type="submit" class="w-25 form-control mt-3 post-comment-btn text-white" value="Post Comment">
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
</article>
<footer id="footer">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-4 p-3">
                <a class="navbar-brand fs-3 fw-bold text-white" href="#"><i class="bi bi-wrench-adjustable-circle"></i> HostApp</a>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magni accusamus, nostrum adipisci laudantium sequi, eaque deserunt maiores blanditiis temporibus quam magnam! Ut quia odio ex laboriosam nam error enim accusantiu</p>
            </div>
            <div class="col-sm-4 p-3">
                <h4 class="text-white">Quick Links</h4>
                <ul class="p-2 quick-links">
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="/" class="text-white">Blog</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="#" class="text-white">Article</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="/registration" class="text-white">Register</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="/login" class="text-white">Login</a></li>
                </ul>
            </div>
            <div class="col-sm-4 p-3">
                <h4 class="text-white">Online Marketing</h4>
                <ul class="p-2 online-marketing-links">
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="#" class="text-white">Search Engine</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="#" class="text-white">Optimization</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="#" class="text-white">Email Marketing</a></li>
                    <li class="mt-2"><i class="bi bi-chevron-right text-white"></i> <a href="#" class="text-white">Affiliate Program</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 down-footer">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center p-3">
                <div class="text-white fs-5">Follow Us </div>
                <div class="d-flex follow-us-link">
                    <li><a href="#" class="text-white fs-5"><i class="bi bi-facebook ms-3"></i></a></li>
                    <li><a href="#" class="text-white fs-5"><i class="bi bi-twitter ms-3"></i></a></li>
                    <li><a href="#" class="text-white fs-5"><i class="bi bi-linkedin ms-3"></i></a></li>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>